@charset "utf-8";
header {
    background-color: #007bff;
    text-align: center;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    background-image: url("../images/image1.jpg");
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}