@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d0d0d0;
  color: #202020;
  font-family: 'Verdana', sans-serif;
  padding: 0px;
}

/* header {
    background-color: #add3fc;
    padding: 20px;
    text-align: center;
    color: white;
} */
header {
  background-color: #007bff;
  color: white;
  border-bottom: 2px solid #ffcc00;
  padding: 20px;
  text-align: center;
}

h2 {
  padding: 0px;
  margin: 0px;
} 

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    /* background-image: url("../images/image1.jpg"); */
    display: block; /* 明示する */
    margin: 0;       /* 念のため追加 */
    padding: 0;      /* 念のため追加 */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

section {
  margin: 0;
  padding: 0;
}